*{
    background-color: lightsteelblue;
    font-family: 'Times New Roman', Times, serif;
 
}

header {
    background-color: whitesmoke;
font-size: 20px;
border: 2px solid black;
text-align: justify;
}

.header {
    background-color: whitesmoke;
    font-size: 20px;
    border-left: 2px solid black;
    margin-left: 20px;
    padding: 2%;
    text-align: justify;
}

.report {
    background-color: whitesmoke;
    font-size: 20px;
    border-left: 2px solid black;
    margin-left: 20px;
    padding: 2%;
    text-align: justify;
}


.main {
    border-left: 5px solid black;
    margin-bottom: 5px;
    padding-left: 10px;
    margin-left: 5px;
}

.surf {
    border-left: 5px solid black;
    margin-left: 5px;
    padding-left: 10px;
    margin-bottom: 15%;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    border-right: 5px solid black;
    padding-left: 10px;
    margin-left: 5px;
    justify-content: right;
}

.projects section {
    border-right: 5px solid black;
    width: 40%;
    padding: 2px;
    margin: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.about{
    border-right: 5px solid black;
    margin-bottom: 10%;
    margin-left: 90%;
    margin-right: 15px;

}

.footer{
    display:flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
footer section {
    text-align: center;
    border-left: 5px solid black;
    width: 40%;
    padding: 2px;
    margin: 10px;
    background-color: whitesmoke;
    flex-wrap: wrap;
}